@use "../../assets/styles/global";

$sideMargin: 160px;

.container {
  margin-left: $sideMargin;
  margin-right: $sideMargin;
}

.top-bar {
  width: 100%;
  height: $sideMargin;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .special-for-label {
    font-weight: bold;
  }
}